{%extends 'base.html'%}
{%block title%}Home page{%endblock%}

{%block content%}

{%if user.is_authenticated %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">first_name</th>
                <th scope="col">last name</th>
                <th scope="col">email</th>
                <th scope="col">phone</th>
                <th scope="col">state</th>
                <th scope="col">zipcode</th>
                <th scope="col" colspan="2" >operations</th>
            </tr>
        </thead>
        <tbody>
            {%for record in records%}   
                <tr>
                    <td>{{record.first_name}}</td>
                    <td>{{record.last_name}}</td>
                    <td>{{record.email}}</td>
                    <td>{{record.phone}}</td>
                    <td>{{record.state}}</td>
                    <td>{{record.zipcode}}</td>
                    <td><a href="{% url 'update_record' record.id %}">update</a></td>
                    <td><a href="{% url 'delete_record' record.id %}">delete</a></td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    <br>
    <br>
    <!-- adding records -->
    <button><a href="{%url 'record_data'%}">Add Data</a></button>
{%else%}
<div class = "col-md-6 offset-md-3">
<form method = "POST" action="{%url 'home'%}">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="submit">
</form>
</div>
{%endif%}

{%endblock%}